
  <div class="container">

    @if (isMantenaint) {
      <h1>Esta página está en construcción. Disculpe las molestias</h1>
      <h2>Estará disponible proximamente</h2>
      <img src="../../assets/mainteniance.jpg" alt="mantenimiento">
    }@else {
      <div>
        <ng-container *ngIf="!isGameOver else gameOver">
          <canvas #tetrisContainer></canvas>
        </ng-container>
        <ng-template #gameOver>
          <img src='../../../../assets/gameOver.jpg'/>
        </ng-template>
      </div>
    }
  </div>

