.init {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.card {
    background-color: aqua;
    width: 600px;
    border-radius: 50px;
}

.card-c {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}