
.display {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 100px;
}


.hd {
    background-color: white;

}

.content {
    position: relative;
}

.ft {
   border-color: "black";

}

img {
    width: 100%;
    height: 100%;
}

.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

