<main class="display">
    <nav>
<!-- Botón para el menu desplegable -->
      <button mat-icon-button [matMenuTriggerFor]="menu" class="dropdown">
        <mat-icon>menu</mat-icon>
      </button>

<!-- Desplegable que sale cuando pulsas al botón -->
      <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="navigateToGame()">
            <mat-icon>person</mat-icon>
            <span>Modo invitado</span>
          </button>


          <button mat-menu-item (click)="navigateToGame()" [ngClass]="{ no_logged: !logged }">
            <mat-icon>person</mat-icon>
            <span>Un jugador</span>
          </button>

          <button  mat-menu-item (click)="navigateToGame()" [ngClass]="{ no_logged: !logged }">
            <mat-icon>diversity_3</mat-icon>
            <span>Jugar en línea</span>
          </button>
      </mat-menu>

<!-- Parte de navegación, links de la cabecera, con menus o links directos a otros componentes -->

      <div class="hd">
        <ul class="nav-links">
          <li class="link" (click)="gotohome()"><a href="#">
            <mat-icon>home_pin</mat-icon>
            Inicio
          </a></li>


          <li class="link"><a (click)="goToClasification()" [ngClass]="{ no_logged: !logged }">
            <mat-icon>leaderboard</mat-icon>
            Clasificación
          </a></li>

<!-- parte del perfil la cual tiene un menú con dos opciones -->
          <li class="link"><a (click)="goToPerfil()" [ngClass]="{ no_logged: !logged }">
            <mat-icon>account_circle</mat-icon>
            Perfil
          </a></li>

          <li class="link"><a (click)="navigateToGame()" [ngClass]="{ no_logged: !logged }">
            <mat-icon>storefront</mat-icon>
            Tienda
          </a></li>
        </ul>
      </div>

      <ng-container *ngIf="logged; else noLogged">
        <button class="btn btn-logout" (click)="updateLoggedUser()">Cerrar Sesión</button>
      </ng-container>

      <ng-template #noLogged>
        <button class="btn btn-init" (click)="gotoinit()">Iniciar Sesión</button>
      </ng-template>

    </nav>

  <div class="content">
    <router-outlet></router-outlet>
   </div>

<footer>
  <div class="ft">

<!-- Iconos para las redes sociales -->
    <div class="socials">
      <a href="https://www.youtube.com/" target="_blank"><i class="ri-youtube-fill"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class="ri-instagram-fill"></i></a>
      <a href="https://www.facebook.com/" target="_blank"><i class="ri-twitter-x-fill"></i></a>
    </div>

<!-- Paginas de contacto, links rapidos y copyright -->

    <div class="column">
      <h4>Company</h4>
      <a href="#">Busines</a>
      <a href="#">Network</a>
    </div>

    <div class="column">
      <h4>Custome Service</h4>
      <a href="#">About Us</a>
      <a href="#">Contact</a>
      <a href="#">Partner Program</a>
    </div>

    <div class="column">
      <h4>Quick Links</h4>
      <a (click)="navigateToGame()">Game</a>
      <a (click)="goToPerfil()">Profile</a>
      <a (click)="gotohome()">Inicio</a>
    </div>

    <div>
      <p class="copyright">
        copyright © 2023 PixelChallenge. All Rights Reserved
      </p> <br>
      <a href="#" (click)="gotohome()" class="back">
        Back to top
        <mat-icon>arrow_upward</mat-icon>
      </a>
    </div>
  </div>
  </footer>

</main>
