* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;

}

.display {
  height: 100%;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto 100px ;
  font-family:  'Poppins', sans-serif;
  background-color: black;
  background-image: url(../assets/pixelWallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #1d4ed8;
}

.link a:hover::after{
  width: 100%;
}

.btn{
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #1d4ed8;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

}

.btn:hover{
  background-color: #1e40af;

}


img {
    width: 100%;
    height: 100%;
    background-size: cover;

}

.hd {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #404657;
}

.hd > ul {
  display: flex;
  height: 100%;
  justify-content: center;
}

.hd, .ft {
  color: aliceblue;
}


.hd > h1, .ft > p {
    padding: 10px;
}

.content {
  position: relative;
  max-height: 600px;
}

.outlet{
  position: relative;
}

.ft {
  position: relative;
  display: grid;
  grid-template-columns:  400px repeat(3, 1fr);
  background: linear-gradient(to bottom, rgba(68, 67, 67, 0.7), rgb(4, 4, 4, 0.7));
  margin-bottom: 0;
  padding-bottom: 30px;
  border-top: 1px solid #ccc;
  max-height: 5000px;
}

.ft .column{
  max-width: 100px;
  max-height: 200px;
  position: relative;
  background-color: #404657;
}

.ft p{
  color: #ccc;
  margin-bottom: 2rem;
}

.ft .socials{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
}

.ft .socials a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.ft .socials a:hover{
  color: #fff;
  background-color: #1d4ed8;
  border-color: #1d4ed8;
}

.ft .column h4{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}


 .ft .column > a {
  display: block;
  color: #ccc;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.ft .column > a:hover {
  color: #1d4ed8;
}

p.copyright{
  margin: 10px;
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
}
