
.init {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.card {
    background-color: aqua;
    width: 600px;
    border-radius: 50px;
}

.card-title {
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

.card-c {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

mat-error {
    font-weight: bold;
}

::ng-deep mat-snack-bar-container.snackbarOk > div {
    background-color: #2dc186 !important;
}

::ng-deep mat-snack-bar-container.snackbarKo > div {
    background-color: #fd4134 !important;
}

::ng-deep simple-snack-bar div[matsnackbarlabel] {
    color: white !important;
    font-size: 16px !important;
    font-weight: bold;
}
