<div class="profilemodify" [ngStyle]=" { 'visibility': showProfile? 'visible': 'hidden' }">

  <div class="mostrarDatos">

    <div class="datosUsuario">

      <h2>Pefil de Usuario</h2>

      <div class="img">
        <img src="./../../../assets/defectimg.jpg" alt="Foto de perfil">
      </div>


      <p><strong>Nombre: </strong>{{user.name}}</p>
      <p><strong>Email: </strong>{{user.email}}</p>

    </div>


    <div class="buttonChange">

      <button mat-raised-button color="accent" class="pssChange" (click)="updateProfileComponent(true)" >
        Pulse para cambiar sus datos
      </button>
    </div>
  </div>
</div>

<ng-container *ngIf="clickedUpdateProfile">
  <app-profile-form (showProfile)="getUser()" (showComponentProfile)="updateProfileComponent(false)"></app-profile-form>
</ng-container>
