<div class="profilemodify">

  <div class="mostrarDatos">

    <div class="datosUsuario">

      <h2>Pefil de Usuario</h2>

      <div class="img">
        <img src="./../../../assets/defectimg.jpg" alt="Foto de perfil" (click)="changeImage()">
      </div>


      <a><strong>Nombre:</strong></a>     <!-- codigo para mostrar el nombre -->
      <a><strong>Email: </strong></a>     <!-- codigo para mostrar el nombre -->
      <a><strong>Teléfono: </strong></a>  <!-- codigo para mostrar el nombre -->

    </div>

    <div class="buttonChange">

      <button mat-raised-button color="accent" class="pssChange" (click)="showInputPass()" *ngIf="!showInputs">
        Pulse para cambiar contraseña
      </button>

      <button mat-raised-button color="primary" class="pssCancel" (click)="showInputPass()" *ngIf="showInputs">
        Pulse para cancelar el cambio
      </button>

    </div>


    <div *ngIf="showInputs" class="passDiv">
      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña antigua">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Nueva contraseña">
      </mat-form-field>


    <mat-form-field>
      <input matInput type="password" placeholder="Confirmar nueva contraseña">
    </mat-form-field>

    <button mat-raised-button (click)="confirmarCambio()" class="confirmChange">
      Confirmar Cambio
    </button>

    </div>

  </div>


  <button type="submit" mat-raised-button (click)="update()" class="updateProfile">
    Actualizar perfil
    <mat-icon>upgrade</mat-icon>
  </button>

</div>
