.profilemodify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
}

.datosUsuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.buttonChange {
  justify-content: center;
  text-align: center;
  display: flex;
}

.buttonChange .pssCancel {
  align-items: center;
}

.mostrarDatos {
  width: 800px;
}

.datosUsuario h2 {
  margin-bottom: 10px;
  font-size: 24px;
  max-height: 100%;
  max-width: 100%;
}

.datosUsuario p {
  display: flex;
  margin-bottom: 15px;
  max-width: 100%;
}

.datosUsuario p strong {
  color: #1d4ed8;
  font-size: 18px;
}

.img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;

}

.img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.updateProfile {
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  justify-content: center;
}
