<div class="welcome_container">

    <div class="characterstic_container">
            <h5 class="d_first_header_w">Welcome to PixelChallenge</h5>
            <p class="d_sub_header_w"> Podrás disfrutar como nunca, desde: </p>
        <div>
            <img class="char_img" src="../../../../assets/mando.png" alt="control to playing">
            <p>Jugar a modo invitado o si lo prefieres y ya formas parte de nuestra familia de PixelChallenge jugar competitivo
                para alcanzar la cima y ser el mejor
            </p>
        </div>

        <div>
            <img class="char_img" src="../../../../assets/piramide.png" alt="classification char">
            <p>Clasificación donde podrás ver en que posición te encuentras</p>
        </div>

        <div>
            <img class="char_img" src="../../../../assets/perfil.png" alt="profile">
            <p>Personalizar tu perfil</p>
        </div>

        <div>
            <img class="char_img" src="../../../../assets/estrella.png" alt="stair">
            <p>Y muchas otras cosas más que están por venir...</p>
        </div>
    </div>

    <div class="description_container">
        <h5>Con grandes ideas y multiples objetivos que cumplir</h5>
        <div>
            <p>
                Un gran compañero con el que gastar tu tiempo cuando te aburras, cuando te vayas de vacaciones... ¡Tu decides cuando y donde!
            </p>
            <img class="img_description_1" alt="boy playing with PixelChallenge" src="../../../../assets/boyplaying.jpg">
        </div>
        
        <div class="content_welcome">
            <p>Si eres un apasionado a PixelChallenge y quieres aportar ideas, nuevas y posibles mejoras o caracteristicas,
                estaremos encantados de escucharte. 
            </p>
        </div>

        <div class="content_welcome">
            <p>No dudes en escribirnos al siguiente correo que dejamos a continuación:
            </p>
        </div>

        <p class="description_mail">
            <span style="color:rgb(128, 154, 9);">pixelChallenge</span><span style="color:rgb(255, 255, 255);">.<span style="color:#e06c75;">ATuDisposicion</span>.</span><span style="color:#61afef;">@soporte.com</span>
        </p>

        <div class="content_welcome">
            <p>
                Sumérgete en un mundo donde los bloques se convierten en desafíos emocionantes y la estrategia es la clave para la victoria.
            </p>
        </div>

        <div class="content_welcome">
            <p>
                En PixelChallenge, llevamos el icónico juego de Tetris a nuevas alturas, combinando la nostalgia de lo clásico con la emoción de lo moderno.
            </p>
        </div>

        <div class="content_welcome">
            <p>
                Nuestro compromiso con la calidad y la innovación se refleja en cada pieza que encaja perfectamente en este rompecabezas digital. ¡Prepárate para experimentar la emoción de la caída de los bloques y desata tu destreza en Tetris como nunca antes! Únete a la comunidad PixelChallenge y haz que cada movimiento cuente. ¡El desafío te espera, jugador!
            </p>
    
        </div>
    </div>

</div>