<div class="welcome_container">
    <div class="d_header_w">
        <p class="d_first_header_w">Welcome to PixelChallenge</p>
        <p class="d_sub_header_w"> Podrás disfrutar como nunca, desde: </p>
    </div>

    <div class="characterstic_container">
        <div>
            <img class="char_img" src="../../../../assets/mando.png" alt="">
            <p>Jugar a modo invitado o si lo prefieres y ya formas parte de nuestra familia de PixelChallenge jugar competitivo
                para alcanzar la cima y ser el mejor
            </p>
        </div>

        <div>
            <img class="char_img" src="../../../../assets/piramide.png" alt="">
            <p>Clasificación personalizada donde podrás ver en que posición te encuentras</p>
        </div>

        <div>
            <img class="char_img" src="../../../../assets/perfil.png" alt="">
            <p>Personalizar tu perfil</p>
        </div>

        <div>
            <img class="char_img" src="../../../../assets/estrella.png" alt="">
            <p>Y muchas otras cosas más que estan por venir...</p>
        </div>
    </div>
</div>