html {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background-image: url(./assets/pixelWallpaper.jpg);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  margin: 0;
}
