html, body {
    margin: 0;
    height: 100%;
  }
  
  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  @media screen and (max-width: 530px) {
    html {
        width: 530px;
        height: 1200px;
    }
  }

  @media screen and (max-height: 709px) {
    html {
        height: 1000px;
    }
  }
